extends layout

block content
  h1= title

  form(method='POST' action='' enctype="multipart/form-data"  accept-charset="utf-8")#createBookForm
    div.form-group
      input#title.form-control(type='text', placeholder='Book Title' name='title' required='true' value=(undefined===book ? '' : book_title) )
      input.form-control(type='text', placeholder='Author name' name='author' required='true' value = (null===book ? 'Unknown author' : book_author) )

    div.form-group
      textarea#summary.form-control(type='textarea', placeholder='Book Summary' name='summary' required='true') #{undefined===book ? '' : book_summary}

    div.form-group
      input#isbn.form-control(type='text', placeholder='ISBN' name='isbn' value=(undefined===book ? '' : book.isbn) required='true')

    div.form-group.genres
      div
        for genre in genres
          div(style='display: inline; padding-right:10px;')
            label(for=genre._id) #{genre.name}
            input.checkbox-input(type='checkbox', name='genre', id=genre._id, value=genre._id, checked=genre.checked )

    div.form-group.genres
      <input type="file" name='imageUpload' id='imageUpload' class = 'form-control'>
    input(type="submit",  class = 'createBookBtn' value = "Submit") 

  a(class='homeBtn' href='/') Go Back to Home page
 

  if errors
    ul
      for error in errors
        li!= error.msg

    